<div class="box-container box-center" style="padding-top: 40px">
  <div class="box-md-30 box-sm-80 box-xs-100">
    <div class="text-center">
      <div ng-include="'/templates/users/layouts/logo.html'"></div>
      <h1 class="title">Khôi phục mật khẩu</h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body panel-body-custom">
        <h4>Hãy nhập địa chỉ email của bạn vào ô bên dưới để nhận thư hướng dẫn khôi phục mật khẩu.</h4>
        <form ng-submit="resetPasswordForm.$valid && resetPassword()" name="resetPasswordForm" novalidate>
          <div class="form-group">
              <label class="required">Địa chỉ email:</label>
              <input ng-model="email" name="email" type="email"
                     ng-pattern="/^\s*[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}\s*$/"
                     class="form-control" required autofocus>
              <div ng-messages="resetPasswordForm.email.$error"
                   ng-show="resetPasswordForm.$submitted">
                  <div ng-message="required">{{common_text.validate.require}}</div>
                <div ng-message="pattern">{{common_text.validate.email}}</div>
              </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Gửi yêu cầu" class="btn btn-success btn-block">
          </div>
          <hr>
          <div class="login-link">
            <div class="box-container box-center">
              <div class="login-link-item">
                <a href="/signin">Đăng nhập</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
